{{& package.name}}
================

[![version](https://img.shields.io/badge/master%20version-{{& package.version}}-blue.svg)]({{& package.homepage}})
[![npm version](https://badge.fury.io/js/{{& furyiopath}}.svg)](https://badge.fury.io/js/{{& furyiopath}})

[![Dependency Status](https://david-dm.org/{{& username}}/{{& package.rawName}}.svg)](https://david-dm.org/{{& username}}/{{& package.rawName}})
[![devDependency Status](https://david-dm.org/{{& username}}/{{& package.rawName}}/dev-status.svg)](https://david-dm.org/{{& username}}/{{& package.rawName}}#info=devDependencies)

[Home Page]({{& package.homepage}})

{{& package.description}}

Purpose
-------

Reuse some gulp tasks through projects

Install
-------

```
npm install {{& package.name}}
```

How to use
----------

Use one of task you want to define.

```javascript
{{& example}}
```

Task list
---------

{{& api}}